<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="HOME_DB" connectionString="Data source=bsbae.ddns.net,51433;User ID=sa;Password=wkehd124!@$;Initial Catalog=TESTDB;" providerName="System.Data.SqlClient" />
    <add name="AZURE_DB" connectionString="Data source=nakdong.database.windows.net;User ID=bsbae;Password=wkehd124!@$;Initial Catalog=NakDongDB;" providerName="System.Data.SqlClient" />
    <add name="CSMT" connectionString="Data Source=(DESCRIPTION= (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=203.225.3.175)(PORT=1522))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KGICSMT )));User Id=erpsys;Password=erpsys;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
    
</configuration>
