<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="D:\Prog_Git\03.WCF\WcfClient\WcfDBClient\bin\Debug" />
        <setting name="Wallet_Location" value="D:\Prog_Git\03.WCF\WcfClient\WcfDBClient\bin\Debug" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>-->
  
  <connectionStrings>
    <add name="HOME_DB" connectionString="Data source=bsbae.ddns.net,51433;User ID=sa;Password=wkehd124!@$;Initial Catalog=TESTDB;" providerName="System.Data.SqlClient" />
    <add name="AZURE_DB" connectionString="Data source=nakdong.database.windows.net;User ID=bsbae;Password=wkehd124!@$;Initial Catalog=NakDongDB;" providerName="System.Data.SqlClient" />
    <add name="CSMT" connectionString="Data Source=(DESCRIPTION= (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=203.225.3.175)(PORT=1522))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KGICSMT )));User Id=erpsys;Password=erpsys;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.0" newVersion="3.19.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>